.wonderful {
  color: pink;
  font-style: normal;
  font-family: fantasy;
}
.intro {
  color: blue;
  font-style: oblique;
  font-size: 32px;s
}
.centre {
     width: 80%;
     background-color: #FAAAC2;
}
.one {
  float: left;
}
