.wonderful {
  color: pink;
  font-style: normal;
  font-family: fantasy;
  font-size: 36px;
  text-align: center;
  }
  .wonderful2 {
    font-style: normal;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
    }
    .important{
      color:orange;
      font-family:monospace;;
      font-size: 24spx;
      text-align: center;
    }
    .important2{
      color: red;
      font-family: 'Open Sans',Arial,sans-serif;
      font-size: 24px;
      text-align: center;
    }
