.wonderful {
  color: pink;
  font-style: normal;
  font-family: fantasy;
  font-size: 36px;
  text-align: center;
  }
  .wonderful2 {
    color: green;
    font-style: normal;
    font-family: fantasy;
    font-size: 18px;
    text-align: center;
    }
